<% content_for :title, "New blob stealer" %>

<h1>New blob stealer</h1>

<%= render "form", blob_stealer: @blob_stealer %>

<br>

<div>
  <%= link_to "Back to blob stealers", blob_stealers_path %>
</div>
