<% content_for :title, "Editing hacker" %>

<h1>Editing hacker</h1>

<%= render "form", hacker: @hacker %>

<br>

<div>
  <%= link_to "Show this hacker", @hacker %> |
  <%= link_to "Back to hackers", hackers_path %>
</div>
