<h1>Editing saved secret</h1>

<%= render "form", saved_secret: @saved_secret %>

<br>

<div>
  <%= link_to "Show this saved secret", @saved_secret %> |
  <%= link_to "Back to saved secrets", saved_secrets_path %>
</div>
